.multi-select {
    --input-width: 80%;
}


.btn-1 {
    margin-left: 20px;
}

._h5 {
    width: 700px;
}

.h5-1 {
    background-color: #3366cc;
    color: #ffffff;
}


.h5-2 {
    background-color: #ff9900;
    color: #ffffff;
}


.h5-3 {
    background-color: #40bf40;
    color: #ffffff;
}


.h5-4 {
    background-color: #808080;
    color: #ffffff;
}


.field-checkbox-1 {
    background-color: #d6e0f5;
}

.field-checkbox-2 {
    background-color: #ffebcc;
}


.field-checkbox-3 {
    background-color: #d9f2d9;
}


.field-checkbox-4 {
    background-color: #E0E0E0;
}

.field-checkbox {
    width: 700px;
}
.field-checkbox {
    width: 700px;
}
.tb-center {
    text-align: center;
    /* table-layout: fixed; */
}
.Linearli {
    list-style:none;
}
.Linearlib{
    padding: 2px;
    margin-left: 5px;
}
.Linearlibi{
    font-weight: bold;
    padding: 5px;
}
.Linearlikon{
    padding: 10px;
}
.Linearlikon-l{
    list-style:circle;
}
.konpitext{
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.Linearlihtml{
    list-style:none;
    border:solid;
    border-color: #d6e0f5;
    font-size: 12px;
    margin:5px;
}
.Linearlihtml1{
    list-style:none;
    border: solid;
    border-color: #d6e0f5;
    background-color: #d6e0f5;
    font-size: 11px;
    padding: 5px;
    margin: 5px;
}
.konpitextbox{
    list-style:none;
    border:solid;
    border-color: #d6e0f5;
    margin-bottom: 20px;
}
.LinearliBD{
    list-style:none;
    font-size: 12px;
    margin: auto;
}
.LinearliBD .BDTitle{
    font-weight: bold;
    font-size: 13px;
}
.tb-center .BDketka1{
    background-color: #f5d7d4;
}
.tb-center .BDketka2{
    background-color: #f1d1c9;
}
.tb-center .BDketka3{
    background-color: #f3d7ac;
}

.homeichiran .anken{
    width: 25%;
    word-break: break-all;
}
.homeichiran .chline{
    width: 10%;
    word-break: break-all;
}
.homeichiran .chk{
    width: 5%;
}
.homeichiran .default{
    width: 5%;
}
.testlist {
    margin-left: 25px;
}
.konpi3{
    list-style:none;
    list-style-position: inside;
    font-size: 13px;
    margin:0px; padding:0px;
}
.bhidden1{
    border-bottom: hidden;
    display: table-cell; 
    vertical-align: middle;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 13px;
    height: 120px;
}
.bhidden2{
    border-left: hidden;
    font-size: 13px;
}
.bh2r {
    text-align: right;
}
.checklistcall{
    list-style:decimal;
    /* border: solid; */
    height : 250px;
    /* border-color: #d6e0f5; */
    background-color: #ffffff;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 20px;
}
.konpititle3{
    padding-bottom: 10px;
}
.change{
    color: #ff9900;
    font-weight: bold;
    accent-color: #ff9900;
}
.unchange{
    color: black;
}
.tablechk li{
    padding: 5px;
}
.chkmargin{
    margin-right: 10px;
}


